@using BugTracker.Extensions
@using BugTracker.Services.Interfaces
@model BugTracker.Models.Notification
@inject IProjectService _projectService;

@{
    ViewData["Title"] = "Details";
}
<div class="row justify-content-center mt-5">
    <div class="card p-3 rounded-3 box-shadow shadow-lg col-8">
        <div class="card-body">
            <h4>@Model.Tickets?.Title: @Html.DisplayFor(model=>model.Title)</h4>
            <hr />
            <div class="row">
                <label class="col-sm-2 mg-b-0">
                    Ticket Details:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @Html.DisplayFor(model => model.Tickets.Description)
                </div>
                <label class="col-sm-2 mg-b-0">
                    Project Name:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @((_projectService.GetProjectByIdAsync(Model.Tickets.ProjectId, User.Identity.GetCompanyId()).Result).Name)
                </div>
                <label class="col-sm-2 mg-b-0">
                    Project Details:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @Html.DisplayFor(model => model.Tickets.Project.Description)
                </div>
                <label class="col-sm-2 mg-b-0">
                    Action Taken:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @Html.DisplayFor(model => model.Message)
                </div>
                <label class="col-sm-2 mg-b-0">
                    Action Taken By:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @Html.DisplayFor(model => model.Sender.FullName)
                </div> 
                <label class="col-sm-2 mg-b-0">
                    Ticket Created:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @Html.DisplayFor(model => model.Tickets!.Created)
                </div>
                <label class="col-sm-2 mg-b-0">
                    Action Taken:
                </label>
                <div class="col-sm-10 mg-t-5 mb-2">
                    @Html.DisplayFor(model => model.Created)
                </div>
            </div>
            <div class="row justify-content-between mt-4">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="col-3 btn ripple pd-x-30 btn-primary-light mg-r-5">Edit</a>
                <a asp-action="Index" class="col-3 btn ripple btn-secondary pd-x-30">All Notifications</a>
            </div>
        </div>
    </div>
</div>