@namespace BugTracker
@model HomeDashboardViewModel

@using BugTracker.Extensions
@using BugTracker.Models
@using BugTracker.Models.Enums
@using BugTracker.Models.ViewModels
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject UserManager<BTUser> _userManager
@inject IRolesService _rolesService
@inject IProjectService _projectService
@inject ITicketService _ticketService
@inject IFileService _fileService

@{
    ViewData["Title"] = "Home Page";
}

<div class="container-fluid dashboard-default-sec">
    <div class="row">
        <div class="col-xl-12 box-col-12 des-xl-100">
            <div class="row">
                <div class="col-xl-6 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                    <div class="card income-card card-primary rounded-3 box-shadow shadow-lg">
                        <div class="card-body text-start">
                            <div class="">
                                <ul>
                                    <li>
                                        @{
                                            Project? latestProject = ((_projectService.GetAllProjectsByCompanyIdAsync(User.Identity!.GetCompanyId())).Result.OrderByDescending(r => r.Created).FirstOrDefault());
                                        }
                                        <a asp-controller="Projects" asp-action="Details" asp-route-id="@latestProject.Id"><u><b>Most Recent Project: @latestProject?.Name</b></u></a>
                                    </li>
                                    <li>@latestProject?.Description</li>
                                    <li class="mt-3">
                                        <b>Start Date:</b> @latestProject?.Created.ToShortDateString()
                                    </li>
                                    <li><b>Deadline:</b> @latestProject?.EndDate!.Value.ToShortDateString()</li>
                                    @if (latestProject?.Members != null)
                                    {
                                        <li class=" mt-3"><b><u>Team Members:</u></b></li>
                                        foreach (BTUser member in latestProject.Members)
                                        {
                                            <li><b>Member Name: </b>@member.FullName</li>
                                            <li class="mb-3">
                                                <b>Member Role(s):</b>@{
                                                    IEnumerable<string> roles = await _rolesService.GetUserRolesAsync(member);
                                                    string rolesOut = string.Join(", ", roles.ToArray());
                                                }
                                                @rolesOut
                                            </li>
                                        }
                                    }
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-6 col-sm-6 box-col-6 des-xl-25 rate-sec">
                    <div class="card income-card card-primary rounded-3 box-shadow shadow-lg">
                        <div class="card-body text-start">
                            <div class="">
                                <ul>
                                    <li>
                                        <u><b>Your Work Summary</b></u>
                                    </li>
                                    <li>
                                        <b>Active Projects:</b> You are on @Model.Projects?.Count() projects.
                                    </li>
                                    <li class="mt-3"><b>Active Tickets:</b> You have @Model.Tickets?.Count() tickets assigned to you.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-6 box-col-6 des-xl-25 rate-sec justify-content-center">
                    <div class="card col rounded-3 box-shadow shadow-lg">
                        <div class="card-body">
                            <h6><u>Company Projects by Priority </u></h6>
                            <div id="prioritychart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-md-12 col-sm-6 box-col-6 des-xl-25 rate-sec justify-content-center">
                    <div class="card col rounded-3 box-shadow shadow-lg">
                        <div class="card-body">
                            <h6><u>Company Tickets by Project</u></h6>
                            <div id="ticketchart"></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-6 col-sm-12 box-col-6 des-xl-25 rate-sec">
                    <div class="card card-secondary rounded-3 box-shadow shadow-lg">
                        <div class="card-body text-center">
                            <div class="table-responsive table-hover">
                                <h6><u>Ticket Summary</u></h6>
                                <table id="tTable" data-page-length="3">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Title</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Created Date</th>
                                            <th class="text-center">Last Updated</th>
                                            <th class="text-center">Project</th>
                                            <th class="text-center">Ticket Priority</th>
                                            <th class="text-center">Ticket Status</th>
                                            <th class="text-center">Ticket Type</th>
                                            <th class="text-center">Developer</th>
                                            <th class="text-center">Submitter</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        @foreach (var item in Model.Tickets!)
                                        {
                                            <tr>
                                                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Updated)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Project.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketPriority.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketStatus.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.TicketType.Name)</td>
                                                <td>
                                                    @{
                                                        int companyId = User.Identity!.GetCompanyId();
                                                        BTUser? developer = await _ticketService.GetDeveloperAsync(item.Id, companyId);
                                                    }
                                                    @if (developer is null && User.IsInRole(nameof(BTRoles.Admin)))
                                                    {
                                                        <a asp-controller="Tickets" asp-action="AssignDev" asp-route-id="@item.Id" class="btn btn-primary-light btn-sm px-3">Assign Developer</a>
                                                    }
                                                    else
                                                    {
                                                        <text>@(developer?.FullName ?? "UnAssigned")</text>
                                                    }
                                                </td>
                                                <td>
                                                    @{
                                                        string? ticketOwner = (await _userManager.FindByIdAsync(item.SubmitterUserId)).FullName;
                                                    }
                                                    @ticketOwner
                                                </td>
                                                <td>
                                                    <a asp-controller="Tickets" asp-action="Details" asp-route-ticketId="@item.Id" class="btn btn-info mb-2 px-3">Details</a>
                                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager") || (await _userManager.GetUserAsync(User)).Id == item.DeveloperUserId || (await _userManager.GetUserAsync(User)).Id == item.SubmitterUserId)
                                                    {
                                                        <a asp-controller="Tickets" asp-action="Edit" asp-route-ticketId="@item.Id" class="btn btn-primary mb-2 px-4">Edit</a>
                                                    }
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <form asp-controller="Tickets" asp-action="Archive" method="post">
                                                            <input type="hidden" asp-for="@item.Id" name="ticketId" />
                                                            <input type="submit" class="btn btn-warning px-3" value="Archive" />
                                                        </form>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-12 col-md-6 col-sm-12 box-col-6 des-xl-25 rate-sec">
                    <div class="card card-primary rounded-3 box-shadow shadow-lg">
                        <div class="card-body text-center">
                            <div class="table-responsive table-hover">
                                <h6><u>Project Summary</u></h6>
                                <table id="pTable" data-page-length="3">
                                    <thead>
                                        <tr>
                                            <th class="text-center">Project Image</th>
                                            <th class="text-center">Title</th>
                                            <th class="text-center">Description</th>
                                            <th class="text-center">Project Start Date</th>
                                            <th class="text-center">Project End Date</th>
                                            <th class="text-center">Project Priority</th>
                                            <th class="text-center">Project Manager</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody class="text-center">
                                        @foreach (var item in Model.Projects!)
                                        {
                                            <tr>
                                                <td><img id="projectImage" class="img-fluid img-90 rounded-circle" src="@_fileService.ConvertByteArrayToFile(item.ImageFileData!, item.ImageFileType!, (int)DefaultImage.ProjectImage)" /></td>
                                                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                                                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                                                <td>@Html.DisplayFor(modelItem => item.EndDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.ProjectPriority.Name)</td>
                                                <td>
                                                    @{
                                                        BTUser? projectManager = await _projectService.GetProjectManagerAsync(item.Id);
                                                    }
                                                    @if (projectManager is null && User.IsInRole(nameof(BTRoles.Admin)))
                                                    {
                                                        <a asp-controller="Projects" asp-action="AssignPM" asp-route-id="@item.Id" class="btn btn-primary-light">Assign PM</a>
                                                    }
                                                    else
                                                    {
                                                        <text>@(projectManager?.FullName ?? "UnAssigned")</text>
                                                    }
                                                </td>
                                                <td>
                                                    <a asp-controller="Projects" asp-action="Details" asp-route-id="@item.Id" class="btn btn-info mb-2 px-3">Details</a>
                                                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                                                    {
                                                        <a asp-controller="Projects" asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary mb-2 px-4">Edit</a>
                                                    }
                                                    @if (User.IsInRole("Admin"))
                                                    {
                                                        <form asp-controller="Projects" asp-action="Archive" method="post">
                                                            <input type="hidden" asp-for="@item.Id" name="id" />
                                                            <input type="submit" class="btn btn-warning px-3" value="Archive" />
                                                        </form>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(document).ready(function () {
            $('#tTable').DataTable();
        });
    </script>

    <script>
        $(document).ready(function () {
            $('#pTable').DataTable();
        });
    </script>

    <!--Google Charts-->
    <script type="text/javascript" src="https://www.google.com/jsapi"></script>

    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            $.ajax({
                type: "POST",
                url: "/Home/GglProjectPriority",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var data = google.visualization.arrayToDataTable(result);

                    //3D Pie
                    var options = {
                        title: 'Project Priority',
                        is3D: true,
                        chartArea: { left: 0, bottom: 15, width: '100%', height: '100%' },
                        legend: { position: 'left', alignment: 'center', textStyle: { color: 'b8babf' } },
                        backgroundColor: '#111727'
                    };

                    var chart = new google.visualization.PieChart($("#prioritychart")[0]);
                    chart.draw(data, options);
                },
                failure: function (rresult) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });
        }
    </script>
    <script type="text/javascript">
        google.load("visualization", "1", { packages: ["corechart"] });
        google.setOnLoadCallback(drawChart);
        function drawChart() {
            $.ajax({
                type: "POST",
                url: "/Home/GglProjectTickets",
                data: '{}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (result) {
                    var data = google.visualization.arrayToDataTable(result);

                    //3D Pie
                    var options = {
                        title: 'Ticket Distribution',
                        is3D: true,
                        chartArea: { left: 0, bottom: 15, width: '100%', height: '100%' },
                        legend: { position: 'left', alignment: 'center', textStyle: {color: 'b8babf' }},
                        backgroundColor: '#111727'
                    };

                    var chart = new google.visualization.PieChart($("#ticketchart")[0]);
                    chart.draw(data, options);
                },
                failure: function (rresult) {
                    alert(result.d);
                },
                error: function (result) {
                    alert(result.d);
                }
            });
        }
    </script>
}
