@model BugTracker.Models.Company
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces;
@using Microsoft.AspNetCore.Identity
@inject IFileService _FileService;
@inject IProjectService _ProjectService;
@inject UserManager<BTUser> _UserManager;

@{
    ViewData["Title"] = "Details";
}
<div class="container">
    <div class="card m-3 border border-1 border-dark rounded-3 shadow-lg">
        <div class="row g-0">
            <h3 class="col-12 my-3 card-header">Company Name: @Model.Name</h3>
            <div class="row card-body align-items-center">
                <div class="col-3 text-center">
                    <img src="@_FileService.ConvertByteArrayToFile(Model.ImageFileData!, Model.ImageFileType!,(int)DefaultImage.CompanyImage)" alt="Company Image">
                </div>
                <div class="col-6">
                    <h4>@Model.Description</h4>
                    <p><span>There are @Model.Projects.Count()</span> active Projects in this Company.<br>
                    <span>There are @Model.Members.Count()</span> active Members in this Company.</p>
                </div>
            </div>
        </div>
    </div>
</div>

@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary rounded-pill mt-2 ms-3">Edit</a>
    </div>
}

