@model IEnumerable<BugTracker.Models.Project>

@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity

@inject UserManager<BTUser> _UserManager
@inject IProjectService _ProjectService
@inject IFileService _FileService

@{
    ViewData["Title"] = "Archive";
    int companyId = (await _UserManager.GetUserAsync(User)).CompanyId;
    var projects = await _ProjectService.GetAllProjectsByCompanyIdAsync(companyId);
}

<h1>Archived Projects</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                Project Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Archived)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Company)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ProjectPriority)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ImageFormFile)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Archived)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Company.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectPriority.Name)
                </td>
                <td>
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-success rounded-pill mb-2">Details</a>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary rounded-pill mb-2 px-4">Edit</a>
                        <form asp-controller="Projects" asp-action="Restore" method="post">
                            <input type="hidden" asp-for="@item.Id" name="id" />
                            <input type="submit" value="Restore" class="btn btn-warning rounded-pill" />
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@*
@foreach (Project project in projects)
{
    if (project.Archived == true)
    {
        <div class="row row-cols-1 row-cols-md-3">
            <div class="col">
                <div class="hc-wrapper">
                    <div class="hc-card">
                        <picture>
                            <source srcset="@_FileService.ConvertByteArrayToFile(project.ImageFileData!, project.ImageFileType!, (int)DefaultImage.ProjectImage)" />
                            <img src="@_FileService.ConvertByteArrayToFile(project.ImageFileData!, project.ImageFileType!, (int)DefaultImage.ProjectImage)" />
                        </picture>
                        <div class="hc-content">
                            <p>
                                @project.Description
                            </p>
                            <button type="button"
                            class="btn btn-primary"
                            data-bs-toggle="modal"
                            data-bs-target="#@project.Id">
                                See Project Details
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
}*@