@model BugTracker.Models.Project
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces;
@inject IProjectService _ProjectService;

@{
    ViewData["Title"] = "Details";
}

<div>
    <h4>Project Details</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileData)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileData)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFileType)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ImageFileType)
        </dd>
        <dt class="col-sm-2">
            Project Manager
        </dt>
        <dd class="col-sm-2">
            @{
                BTUser? projectManager = await _ProjectService.GetProjectManagerAsync(Model.Id);
            }
            @if (User.IsInRole(nameof(BTRoles.Admin)))
            {
                <text>@(projectManager?.FullName ?? "UnAssigned")</text>
                <a asp-controller="Projects" asp-action="AssignPM" asp-route-id="@Model.Id" class="btn btn-primary">Assign PM</a>
            }
        </dd>
        <span></span>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Archived)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Archived)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Company)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Company.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectPriority)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ProjectPriority.Name)
        </dd>
    </dl>

    <table>
        <thead>
            Project Tickets
        </thead>
        @foreach (Ticket ticket in Model.Tickets)
        {
            <tr>
                <td>@ticket.Title</td>
                <td>@ticket.Description</td>
                <td>@ticket.TicketStatus</td>
                <td>@ticket.TicketType</td>
                <td>@ticket.TicketPriority</td>
                <td><span>Ticket has @ticket.Comments</span> comments.</td>
                <td><span>Ticket has @ticket.Attachments.Count()</span> attachments.</td>
            </tr>
        }
    </table>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
