@model BugTracker.Models.Project
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces
@using Microsoft.AspNetCore.Identity
@inject IProjectService _ProjectService
@inject ITicketHistoryService _HistoryService
@inject UserManager<BTUser> _UserManager
@inject IFileService _FileService

@{
    ViewData["Title"] = "Details";
    BTUser? projectmanager = (await _UserManager.GetUsersInRoleAsync("ProjectManager")).FirstOrDefault();
    string userId = _UserManager.GetUserId(User);

            //int totalTickets = Model.Tickets.Where(t => t.Archived == false && t.ArchivedByProject == false && t.TicketStatus != BTTicketStatuses.Resolved);
    //int resolvedTickets = Model.Tickets.Where(t => t.TicketStatus.Id == nameof(BTTicketStatuses.Resolved));
    //double percent = (resolvedTickets / totalTickets) * 100;
}

<div>
    <div class="container-fluid" style="font-weight:bold">
        <div class="row justify-content-center g-2">
            <div class="col-md-12 col">
                <div class="row col-cols-2 mt-3 rounded-3 justify-content-center">
                    <div class="card col m-2 p-1 rounded-3 box-shadow shadow-lg">
                        <div class="card-body row">
                            <div class="col-10">
                                <h5><u>Project Name:</u> @Model.Name</h5>
                                <p><u>Project Details:</u> @Model.Description</p>
                            </div>
                            <div class="col-2">
                                <img class="img-100 rounded-circle" src="@_FileService.ConvertByteArrayToFile(Model.ImageFileData, Model.ImageFileType!,(int)DefaultImage.ProjectImage)">
                            </div>
                        </div>
                    </div>
                    <div class="card col m-2 p-3 rounded-3 box-shadow shadow-lg">
                        <div class="body">
                            <ul class=" list-unstyled basic-list">
                                <li><u>Start Date:</u> <span>@Model.StartDate</span></li>
                                <li><u>Deadline:</u> <span class="">@Model.EndDate</span></li>
                                <li><u>Priority:</u> <span class="">@Model.ProjectPriority!.Name</span></li>
                                <li style="@((Model.Archived == false) ? "color:green" : "color:red")">Project is @((Model.Archived == false) ? "Active" : "Inactive")</li>
                            </ul>
                            <div class="row justify-content-between mx-1">
                                <a asp-controller="Projects" asp-action="edit" asp-route-id="@Model.Id" class="btn btn-sm btn-primary col-3 mt-2">Edit</a>
                                <a asp-action="Index" class="col-2 btn btn-secondary mt-2 col-3">Back to List</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col mt-5 ">
                <div class="row mt-3 rounded-3 justify-content-center">
                    <div class="card col m-2 mx-3 p-3 rounded-3 box-shadow shadow-lg">
                        <div class="header">
                            <h4>Project Manager</h4>
                            <hr />
                        </div>
                        <div class="body" style="height:200px;">
                            @* if() logic for Avatar/Default etc *@
                            @foreach (BTUser projectManager in Model.Members)
                            {
                                if (await _UserManager.IsInRoleAsync(projectManager, "ProjectManager"))
                                {
                                    <div class="row align-items-center justify-content-center mt-5">
                                        <img src="@_FileService.ConvertByteArrayToFile(projectManager.ImageFileData!, projectManager.ImageFileType!,(int)DefaultImage.BTUserImage)" alt="Project Manager Picture" class="img-fluid rounded-circle img-100">
                                        <span class="text-center">@projectManager.FullName</span>
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-5 col mt-5 ">
                <div class="row mt-3 rounded-3 justify-content-center">
                    <div class="card col m-2 mx-3 p-3 rounded-3 box-shadow shadow-lg">
                        <div class="header col-12">
                            <h4>Project Team</h4>
                            <hr />
                            <div class="row">
                                <form asp-controller="Projects" asp-action="AddMember" method="post">
                                    <input type="hidden" asp-for="@Model.Id" name="projectId">
                                    <input type="hidden" asp-for="@Model.CompanyId">
                                    <select class="form-control" asp-items="ViewBag.Members" name="SelectedMember">
                                        <option>Add A Project Team Member</option>
                                    </select>
                                    <input type="submit" class="btn btn-primary col-4 mt-2" value="Add Member">
                                </form>
                            </div>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;">
                            <ul class="right_chat list-unstyled mb-0">
                                @foreach (BTUser member in Model.Members)
                                {
                                    <li class="mb-2">
                                        <form asp-controller="Projects" asp-action="RemoveMember" method="post">
                                            <input type="hidden" asp-for="@Model.Id" name="projectId">
                                            <input type="hidden" asp-for="@member.Id" name="memberId">
                                            <img src="@_FileService.ConvertByteArrayToFile(member.ImageFileData!, member.ImageFileType!,(int)DefaultImage.BTUserImage)" alt="Project Member Picture" class="img-fluid img-50 rounded-circle ms-2">
                                            <label asp-for="@member.FullName" class="ms-2 me-4 col-3">@member.FullName</label>
                                            <input type="submit" class="btn btn-primary-light text-end" value="Remove Member">
                                        </form>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col mt-5 ">
                <div class="row mt-3 rounded-3 justify-content-center">
                    <div class="card col m-2 mx-3 p-3 rounded-3 box-shadow shadow-lg">
                        <div class="header">
                            <h4>Project Activity</h4>
                            <hr />
                        </div>
                        <div class="body" style="overflow-y:auto;height:300px">
                            @* Project Activity loop *@
                            @foreach (TicketHistory history in (await _HistoryService.GetProjectTicketsHistoriesAsync(Model.Id, Model.CompanyId)).OrderByDescending(h => h.Created))
                            {
                                <span class="date" style="font-weight:bold">@history.Created.ToString("dd MMM yyyy")</span>
                                <h6>@history.Description</h6>
                                <span>By: @history.User!.FullName</span>
                                <div class="">
                                    @if (history.Description!.Contains("New Ticket Created"))
                                    {
                                        <p>A ticket was added.</p>
                                    }
                                    else if (history.PropertyName!.Equals("TicketComment") || history.PropertyName.Equals("TicketAttachment"))
                                    {
                                        <p>A <b>@history.PropertyName</b> was added.</p>
                                    }
                                    else
                                    {
                                        <p>The ticket <b>@history.PropertyName</b> was edited.</p>
                                        <p>@($"Previous {history.PropertyName}: ")<span style="color:red">@history.OldValue</span></p>
                                        <p>@($"Previous {history.PropertyName}: ")<span style="color:green">@history.NewValue</span></p>
                                    }
                                </div>
                                <hr>
                            }
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col">
                <div class="row mt-3 rounded-3 justify-content-center">
                    <div class="card col m-2 p-3 rounded-3 box-shadow shadow-lg">
                        <div class="header">
                            <h2>Tickets</h2>
                        </div>
                        <div class="body">
                            <div class="table-responsive" style="overflow-y:auto;height:600px;">
                                <table class="table table-hover">
                                    <thead class="">
                                        <tr>
                                            @* Table header *@
                                            <th>Title</th>
                                            <th>Developer</th>
                                            <th>Status</th>
                                            <th>Priority</th>
                                            <th>Date</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @* Table body *@
                                        @foreach (var ticket in Model.Tickets.OrderByDescending(d => d.Created))
                                        {
                                            <tr>
                                                <td><a asp-action="Details" asp-controller="Tickets" asp-route-ticketId="@ticket.Id"><strong>@ticket.Title</strong></a> </td>
                                                <td>
                                                    @if (ticket.DeveloperUserId != null)
                                                    {
                                                        @ticket.DeveloperUser?.FullName
                                                    }
                                                    else
                                                    {
                                                        if (User.IsInRole(nameof(BTRoles.Admin)) || User.IsInRole(nameof(BTRoles.ProjectManager)))
                                                        {
                                                            <a class="btn btn-primary-light" asp-action="AssignDev" asp-controller="Tickets" asp-route-id="@ticket.Id">Assign Dev</a>
                                                        }
                                                    }
                                                </td>
                                                @if (ticket.TicketStatus!.Name == "New")
                                                {
                                                    <td><span class="">@ticket.TicketStatus.Name </span></td>

                                                }
                                                else
                                                {
                                                    <td><span class="">@ticket.TicketStatus.Name </span></td>
                                                }
                                                <td><span class="">@ticket.TicketPriority!.Name </span></td>
                                                <td>@ticket.Created.ToString("MM-dd-yyyy")</td>
                                                <td>
                                                    <a class="btn btn-sm btn-info" asp-action="Details" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Details</a>
                                                    @if (ticket.DeveloperUserId == userId || ticket.SubmitterUserId == userId || (projectmanager?.Id == userId) || User.IsInRole(nameof(BTRoles.Admin)))
                                                    {
                                                        <a class="btn btn-sm btn-secondary" asp-action="Edit" asp-controller="Tickets" asp-route-ticketId="@ticket.Id">Edit</a>
                                                    }

                                                    @if (User.IsInRole("Admin") || (projectmanager?.Id == userId))
                                                    {
                                                        <a class="btn btn-sm btn-danger">Archive</a>
                                                    }
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>