@model IEnumerable<BugTracker.Models.Project>
@using BugTracker.Models.Enums
@using BugTracker.Services.Interfaces;
@using Microsoft.AspNetCore.Identity
@inject IProjectService _projectService;
@inject ITicketService _ticketService
@inject IFileService _fileService
@inject UserManager<BTUser> _UserManager;

@{
    ViewData["Title"] = "Index";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-12 text-center">
            <h3 class="mt-3">All Unassigned Projects</h3>
            @*<ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="index.html">Home</a></li>
            <li class="breadcrumb-item">dashboard</li>
            <li class="breadcrumb-item active">project list</li>
            </ol>*@
        </div>
    </div>
</div>
<!-- Container-fluid starts-->
<div class="container-fluid">
    <div class="row project-cards">
        <div class="col-md-12 project-list">
            <div class="">
                <div class="row justify-content-between">
                    @if (User.IsInRole("Admin") || User.IsInRole("ProjectManager"))
                    {
                        <a asp-controller="Projects" asp-action="Create" class="btn btn-primary col-3">Create New Project</a>
                    }
                    <a asp-controller="Projects" asp-action="Index" class="btn btn-info col-3">View All Active Projects</a>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="tab-content" id="top-tabContent">
                        <div class="tab-pane fade show active" id="top-home" role="tabpanel" aria-labelledby="top-home-tab">
                            <div class="row">
                                @foreach (Project project in Model)
                                {
                                    BTUser? projectManager = await _projectService.GetProjectManagerAsync(project.Id);
                                    if (projectManager == null)
                                    {
                                        <div class="col-xxl-4 col-lg-6">
                                            <div class="project-box">
                                                <span class="badge badge-primary">Priority: @project.ProjectPriority.Name</span>
                                                <a asp-controller="Projects" asp-action="Details" asp-route-id="@project.Id"><h6 class="mt-3"><u>@project.Name</u></h6></a>
                                                <div class="media mb-2">
                                                    <img class="img-30 me-2 rounded-circle" src="@if(projectManager != null){
                                            @_fileService.ConvertByteArrayToFile(projectManager.ImageFileData, projectManager.ImageFileType!,(int)DefaultImage.BTUserImage);}">
                                                    <div class="media-body">
                                                        <p>
                                                            @if (projectManager is null && User.IsInRole(nameof(BTRoles.Admin)))
                                                            {
                                                                <a asp-controller="Projects" asp-action="AssignPM" asp-route-id="@project.Id" class="btn btn-primary-light btn-sm">Assign PM</a>
                                                            }
                                                            else
                                                            {
                                                                <text>Project Manager: @(projectManager?.FullName ?? "UnAssigned")</text>
                                                            }
                                                        </p>
                                                    </div>
                                                </div>
                                                <p>@project.Description</p>
                                                @*<p>@(new string (project.Description.Take(150).ToArray()))...</p>*@
                                                <div class="row details">
                                                    <div class="col-6"><u>Active Tickets:</u></div>
                                                    <div class="col-6 font-primary"> @project.Tickets.Where(t=>t.Archived == false).Count()</div>
                                                    <div class="col-6"> <span>Resolved Tickets:</span></div>
                                                    <div class="col-6 font-primary"> @project.Tickets.Where(t=>t.TicketStatus!.Name == nameof(BTTicketStatuses.Resolved)).Count()</div>
                                                    <div class="col-6"> <span>Total Ticket Comments:</span></div>
                                                    <div class="col-6 font-primary"> @project.Tickets.Where(t=>t.Comments != null).Count()</div>
                                                </div>
                                                <span>Project Members:</span>
                                                <div class="customers">
                                                    <ol>
                                                        @foreach (BTUser member in project.Members)
                                                        {
                                                            <li class="d-inline-block">
                                                                @member.FullName;
                                                            </li>
                                                        }
                                                    </ol>
                                                </div><div class="customers">
                                                    <ul>
                                                        @foreach (BTUser member in project.Members)
                                                        {
                                                            <li class="d-inline-block">
                                                                <img class="img-30 rounded-circle" src="@if(member != null){
                                                    @_fileService.ConvertByteArrayToFile(member.ImageFileData, member.ImageFileType!,(int)DefaultImage.BTUserImage);}" alt="Project member image">
                                                            </li>
                                                        }
                                                    </ul>
                                            </div>
                                        </div>
                                    </div>
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>